#record {
    border-collapse: collapse;
}

#record td,
#record th {
    border: 1px solid #000000;
    text-align: center;
}

.delay {
    color: #ff0000;
}

#minrec, #maxrec {
    width: 3em;
}

.jy {
    /*山手線*/
    color: #ffffff;
    background-color: #89c85e;
}

.jh {
    /*横浜線*/
    color: #ffffff;
    background-color: #9acd32;
}

.jk {
    /*京浜東北線、根岸線*/
    color: #ffffff;
    background-color: #00bae8;
}

.ja {
    /*埼京線*/
    color: #ffffff;
    background-color: #00ac9a;
}

.jc,
.jm {
    /*中央線快速、青梅線、五日市線、武蔵野線*/
    color: #ffffff;
    background-color: #f15a22;
}

.jb,
.jrumu {
    /*中央・総武線各駅停車、両毛線*/
    color: #000000;
    background-color: #ffd400;
}

.jn,
.ji {
    /*南武線、鶴見線*/
    color: #000000;
    background-color: #fbd05d;
}

.jj,
.jnrts {
    /*常磐線快速、成田支線(我孫子)*/
    color: #ffffff;
    background-color: #36ae6e;
}

.jl {
    /*常磐線各駅停車*/
    color: #ffffff;
    background-color: #9e9e9f;
}

.je {
    /*京葉線*/
    color: #ffffff;
    background-color: #c9252f;
}

.jsgm {
    /*相模線*/
    color: #ffffff;
    background-color: #009793;
}

.jhcku,
.jkwge {
    /*八高線、川越線*/
    color: #ffffff;
    background-color: #a8a39d;
}

.js {
    /*湘南新宿ライン*/
    color: #ffffff;
    background-color: #e21f26;
}

.jutl {
    /*上野東京ライン*/
    color: #ffffff;
    background-color: #800080;
}

.jt,
.ju {
    /*東海道線、伊東線、高崎線、宇都宮線*/
    color: #ffffff;
    background-color: #f68b1e;
}

.jo,
.co {
    /*横須賀・総武快速線、中央本線*/
    color: #ffffff;
    background-color: #007ac0;
}

.joh {
    /*総武本線*/
    color: #000000;
    background-color: #ffc500;
}

.jucbu {
    /*内房線*/
    color: #ffffff;
    background-color: #00b2e5;
}

.jstbu {
    /*外房線*/
    color: #ffffff;
    background-color: #dc4532;
}

.jnrt,
.jkrsym {
    /*成田線、烏山線*/
    color: #ffffff;
    background-color: #339966;
}

.jtugn {
    /*東金線*/
    color: #ffffff;
    background-color: #f15f2b;
}

.jksm {
    /*鹿島線*/
    color: #ffffff;
    background-color: #cc6633;
}

.jnku {
    /*日光線*/
    color: #ffffff;
    background-color: #880033;
}

.jkrr {
    /*久留里線*/
    color: #ffffff;
    background-color: #00b5ad;
}

.jjubn,
.jmt {
    /*常磐線、水戸線*/
    color: #ffffff;
    background-color: #3333ff;
}

.jsign {
    /*水郡線*/
    color: #ffffff;
    background-color: #368c44;
}

.jjuet {
    /*上越線*/
    color: #ffffff;
    background-color: #00b3e6;
}

.jagtm {
    /*吾妻線*/
    color: #ffffff;
    background-color: #0f5474;
}

.jsnet {
    /*信越本線(高崎-横川)*/
    color: #ffffff;
    background-color: #99cc00;
}

.se {
    /*信越本線(篠ノ井-長野 直江津-新潟)*/
    color: #ffffff;
    background-color: #00aaee;
}

.jkum {
    /*小海線*/
    color: #ffffff;
    background-color: #41934c;
}

.sn {
    /*篠ノ井線*/
    color: #ffffff;
    background-color: #d56a29;
}

.jooit {
    /*大糸線*/
    color: #ffffff;
    background-color: #9370db;
}