#record {
    border-collapse: collapse;
}

#record td,
#record th {
    border: 1px solid #000000;
    text-align: center;
}

.im {
    color: red;
}

.p {
    margin-left: 1em;
}

.p2 {
    margin-left: 2em;
}

.ifr {
   max-width: 100%;
   position: relative;
   padding-bottom: 100%;
   height: 0;
}

.ifr iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}