#record {
    border-collapse: collapse;
}

#record td,
#record th {
    border: 1px solid #000000;
    text-align: center;
}

.im {
    color: red;
}

.p {
    margin-left: 1em;
}

.p2 {
    margin-left: 2em;
}
