.delay {
    color: #ff0000;
}

.jsy {
    /*山形新幹線*/
    color: #ffffff;
    background-color: #f36221;
}

.jsa {
    /*秋田新幹線*/
    color: #ffffff;
    background-color: #ed4399;
}


.jsj {
    /*上越新幹線*/
    color: #ffffff;
    background-color: #f58d79;
}

.jshr {
    /*北陸新幹線*/
    color: #ffffff;
    background-color: #6a3d98;
}

.jy {
    /*山手線*/
    color: #ffffff;
    background-color: #89c85e;
}

.jh,
.jshd {
    /*横浜線、北海道新幹線*/
    color: #ffffff;
    background-color: #9acd32;
}

.jk {
    /*京浜東北線、根岸線*/
    color: #ffffff;
    background-color: #00bae8;
}

.ja {
    /*埼京線*/
    color: #ffffff;
    background-color: #00ac9a;
}

.jso,
.so {
    /*相鉄・JR直通線、相鉄新横浜線*/
    color: #ffffff;
    background-color: #000080;
}

.jc,
.jm,
.ohh {
    /*中央線快速、青梅線、五日市線、武蔵野線、箱根登山線*/
    color: #ffffff;
    background-color: #f15a22;
}

.jb,
.jrumu {
    /*中央・総武線各駅停車、両毛線*/
    color: #000000;
    background-color: #ffd400;
}

.jn,
.ji {
    /*南武線、鶴見線*/
    color: #000000;
    background-color: #fbd05d;
}

.jj,
.jnrts {
    /*常磐線快速、成田線(我孫子支線)*/
    color: #ffffff;
    background-color: #36ae6e;
}

.jl {
    /*常磐線各駅停車*/
    color: #ffffff;
    background-color: #9e9e9f;
}

.je {
    /*京葉線*/
    color: #ffffff;
    background-color: #c9252f;
}

.jsgm {
    /*相模線*/
    color: #ffffff;
    background-color: #009793;
}

.jhcku,
.jkwge {
    /*八高線、川越線*/
    color: #ffffff;
    background-color: #a8a39d;
}

.js {
    /*湘南新宿ライン*/
    color: #ffffff;
    background-color: #e21f26;
}

.jutl {
    /*上野東京ライン*/
    color: #ffffff;
    background-color: #800080;
}

.jt,
.ju,
.jtksk {
    /*東海道線、伊東線、高崎線、宇都宮線*/
    color: #ffffff;
    background-color: #f68b1e;
}

.jo,
.co {
    /*横須賀・総武快速線、中央本線*/
    color: #ffffff;
    background-color: #007ac0;
}

.joh {
    /*総武本線*/
    color: #000000;
    background-color: #ffc500;
}

.jucbu {
    /*内房線*/
    color: #ffffff;
    background-color: #00b2e5;
}

.jstbu {
    /*外房線*/
    color: #ffffff;
    background-color: #dc4532;
}

.jnrt,
.jkrsym {
    /*成田線、烏山線*/
    color: #ffffff;
    background-color: #339966;
}

.jtugn {
    /*東金線*/
    color: #ffffff;
    background-color: #f15f2b;
}

.jksm {
    /*鹿島線*/
    color: #ffffff;
    background-color: #cc6633;
}

.jnku {
    /*日光線*/
    color: #ffffff;
    background-color: #880033;
}

.jkrr {
    /*久留里線*/
    color: #ffffff;
    background-color: #00b5ad;
}

.jjubn,
.jmt {
    /*常磐線、水戸線*/
    color: #ffffff;
    background-color: #3333ff;
}

.jsign {
    /*水郡線*/
    color: #ffffff;
    background-color: #368c44;
}

.jjuet {
    /*上越線*/
    color: #ffffff;
    background-color: #00b3e6;
}

.jagtm {
    /*吾妻線*/
    color: #ffffff;
    background-color: #0f5474;
}

.jsnet {
    /*信越本線(高崎-横川)*/
    color: #ffffff;
    background-color: #99cc00;
}

.se {
    /*信越本線(篠ノ井-長野 直江津-新潟)*/
    color: #ffffff;
    background-color: #00aaee;
}

.jkum,
.jst {
    /*小海線、東北新幹線*/
    color: #ffffff;
    background-color: #41934c;
}

.sn {
    /*篠ノ井線*/
    color: #ffffff;
    background-color: #d56a29;
}

.jooit {
    /*大糸線*/
    color: #ffffff;
    background-color: #9370db;
}

.tmg {
    /*東京メトロ銀座線*/
    color: #ffffff;
    background-color: #f39700;
}

.tmm {
    /*東京メトロ丸ノ内線*/
    color: #ffffff;
    background-color: #e60012;
}
.tmh {
    /*東京メトロ日比谷線*/
    color: #ffffff;
    background-color: #9caeb7;
}
.tmt {
    /*東京メトロ東西線*/
    color: #ffffff;
    background-color: #00a7db;
}
.tmc {
    /*東京メトロ千代田線*/
    color: #ffffff;
    background-color: #009944;
}
.tmy {
    /*東京メトロ有楽町線*/
    color: #ffffff;
    background-color: #d7c447;
}
.tmz {
    /*東京メトロ半蔵門線*/
    color: #ffffff;
    background-color: #9b7cb6;
}
.tmn {
    /*東京メトロ南北線*/
    color: #ffffff;
    background-color: #00ada9;
}
.tmf {
    /*東京メトロ副都心線*/
    color: #ffffff;
    background-color: #bb641d;
}
.twr {
    /*東京臨海高速鉄道りんかい線*/
    color: #ffffff;
    background-color: #00418e;
}
.oho, .ot, .oe {
    /*小田急小田原線、小田急多摩線、小田急江ノ島線*/
    color: #ffffff;
    background-color: #2288cc;
}
.tqty {
    /*東急東横線*/
    color: #ffffff;
    background-color: #da0442;
}
.tqmg {
    /*東急目黒線*/
    color: #ffffff;
    background-color: #009cd2;
}
.tqsh {
    /*東急新横浜線*/
    color: #ffffff;
    background-color: #890d84;
}
.tqdt {
    /*東急田園都市線*/
    color: #ffffff;
    background-color: #20a288;
}
.tqom {
    /*東急大井町線*/
    color: #ffffff;
    background-color: #f18c43;
}
.tqik {
    /*東急池上線*/
    color: #ffffff;
    background-color: #ee86a7;
}
.tqtm {
    /*東急多摩川線*/
    color: #ffffff;
    background-color: #ae0378;
}
.tqkd {
    /*東急こどもの国線*/
    color: #ffffff;
    background-color: #0068b7;
}
.tqsg {
    /*東急世田谷線*/
    color: #ffffff;
    background-color: #fcc70d;
}
.mm {
    /*横浜高速鉄道みなとみらい線*/
    color: #ffffff;
    background-color: #09357f;
}